<!DOCTYPE html>
<html lang="en">
<head>
<title>UCenter</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
	function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<!-- Custom Theme files -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" /> 
<!-- //Custom Theme files -->
<!-- font-awesome icons -->
<link href="css/font-awesome.css" rel="stylesheet"> 
<!-- //font-awesome icons -->
<!-- js -->
<!-- <script src="js/jquery.min.js"></script> -->
<script src="vendors/jquery-1.9.1.min.js"></script>
<!-- //js -->  
<!-- web fonts
<link href='http://fonts.googleapis.com/css?family=Glegoo:400,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<!-- //web fonts --> 
<!-- for bootstrap working -->
<!-- <script type="text/javascript" src="js/bootstrap-3.1.1.min.js"></script> -->
<!-- //for bootstrap working -->
<!-- Bootstrap -->
<!--<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">-->
<link href="bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
<link href="vendors/easypiechart/jquery.easy-pie-chart.css" rel="stylesheet" media="screen">
<link href="assets/styles.css" rel="stylesheet" media="screen">
<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<script src="vendors/modernizr-2.6.2-respond-1.1.0.min.js"></script>

<!-- Bootstrap -->
<link href="assets/DT_bootstrap.css" rel="stylesheet" media="screen">
<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="vendors/flot/excanvas.min.js"></script><![endif]-->
<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->

<!-- start-smooth-scrolling -->
<!-- //end-smooth-scrolling --> 
</head> 
<body> 
	<!-- header modal -->
	<div class="modal fade" id="myModal88" tabindex="-1" role="dialog" aria-labelledby="myModal88"
		aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
						&times;</button>
					<h4 class="modal-title" id="myModalLabel">不要犹豫，马上注册!</h4>
				</div>
				<div class="modal-body modal-body-sub">
					<div class="row">
						<div class="col-md-8 modal_body_left modal_body_left1" style="border-right: 1px dotted #C2C2C2;padding-right:3em;">
							<div class="sap_tabs">
								<div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
									<ul>
										<li class="resp-tab-item" aria-controls="tab_item-0"><span>登录</span></li>
										<li class="resp-tab-item" aria-controls="tab_item-1"><span>注册</span></li>
									</ul>
									<div class="tab-1 resp-tab-content" aria-labelledby="tab_item-0">
										<div class="facts">
											<div class="register">
												<form>			
													<input name="Email" id="uname" placeholder="用户名" type="text" required="">						
													<input name="Password" placeholder="密码" id="pwd" type="password" required="">										
													<div class="sign-up">
														<input type="button" class="login_btn" value="登录" onclick="tologin()"/>
													</div>
												</form>
											</div>
										</div>
									</div>
									<div class="tab-2 resp-tab-content" aria-labelledby="tab_item-1">
										<div class="facts">
											<div class="register">
												<form action="#" method="post">
													<!--<input placeholder="Name" name="Name" type="text" required="">-->
													<input placeholder="用户名" name="Email" type="email" required="">
													<input placeholder="密码" name="Password" type="password" required="">
													<input placeholder="确认密码" name="Password" type="password" required="">
													<div class="sign-up">
														<input type="submit" value="创建用户"/>
													</div>
												</form>
											</div>
										</div>
									</div>
								</div>
							</div>
							<script src="js/easyResponsiveTabs.js" type="text/javascript"></script>
							<script type="text/javascript">
                                $(document).ready(function () {
                                    $('#horizontalTab').easyResponsiveTabs({
                                        type: 'default', //Types: default, vertical, accordion
                                        width: 'auto', //auto or any width like 600px
                                        fit: true   // 100% fit in a container
                                    });
                                });
							</script>
							<div id="OR" class="hidden-xs">OR</div>
						</div>
						<div class="col-md-4 modal_body_right modal_body_right1">
							<div class="row text-center sign-with">
								<div class="col-md-12" style="margin:auto auto auto 5px;">
									<div class="jumbotron">
										<h3>欢迎!</h3>
										<p>点击下方按钮进入系统后台。</p>
										<p><a class="btn btn-primary btn-lg" href="#" role="button">后台登录</a></p>
									</div>
								</div>
								<!--<div class="col-md-12">
									<h3 class="other-nw">前往后台</h3>
								</div>
								<div class="col-md-12 text-hide">
									<ul class="social">
										<li class="social_facebook"><a href="#" class="entypo-facebook"></a></li>
										<li class="social_dribbble"><a href="#" class="entypo-dribbble"></a></li>
										<li class="social_twitter"><a href="#" class="entypo-twitter"></a></li>
										<li class="social_behance"><a href="#" class="entypo-behance"></a></li>
									</ul>
								</div>
								<button type="button" class="btn btn-primary">后台登录</button>-->

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> 
	<!-- header modal -->
	<!-- header -->
	<div class="header" id="home1">
		<div class="container">
			<div class="w3l_login">
				<a href="#" data-toggle="modal" data-target="#myModal88"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></a>
			</div>
			<div class="w3l_logo">
				<h1><a href="index.html">Electronic Store<span>Your stores. Your place.</span></a></h1>
			</div>
			<div class="search">
				<input class="search_box" type="checkbox" id="search_box">
				<label class="icon-search" for="search_box"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></label>
				<div class="search_form">
					<form action="#" method="post">
						<input type="text" name="Search" placeholder="Search...">
						<input type="submit" value="Send">
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- //header -->
	<!-- navigation -->
	<div class="navigation">
		<div class="container">
			<nav class="navbar navbar-default">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header nav_2">
					<button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
					<ul class="nav navbar-nav">
						<li style="visibility:hidden;"><a href="mail.html">联系我们</a></li>
						<li><a href="index.html">首页</a></li>
						<!-- Mega Menu -->
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">所有分类 <b class="caret"></b></a>
							<ul class="dropdown-menu multi-column columns-3">
								<div class="row" id="index-brand">
									
								</div>
							</ul>
						</li>
						<li><a href="ucenter.html" class="act">个人中心</a></li>
						<li><a href="mail.html">联系我们</a></li>
						<li style="visibility:hidden;"><a href="mail.html">联系我们</a></li>
					</ul>
				</div>
			</nav>
		</div>
	</div>
	<!-- //navigation -->
	<!-- banner -->
	<div class="banner banner10">
		<div class="container">
			<h2>Person Center</h2>
		</div>
	</div>
	<!-- //banner -->   
	<!-- breadcrumbs -->
	<div class="breadcrumb_dress">
		<div class="container">
			<ul>
				<li><a href="index.html"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> 首页</a> <i>/</i></li>
				<li>地址管理</li>
			</ul>
		</div>
	</div>
	<!-- //breadcrumbs --> 
	<!-- about -->
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span3" id="sidebar">
				<ul class="nav nav-list bs-docs-sidenav nav-collapse text-center">
					<li>
						<a href="ucenter.html"><i class="icon-chevron-right"></i> 我的商品</a>
					</li>
					<li>
	                    <a href="order.html"><i class="icon-chevron-right"></i> 订单中心</a>
	                </li>
					<li>
						<a href="userinfo.html"><i class="icon-chevron-right"></i> 个人中心</a>
					</li>
					<li class="myactive">
						<a href="address.html"><i class="icon-chevron-right"></i> 地址管理</a>
					</li>
				</ul>
			</div>
			<!--/span-->
			<div class="span9" id="content">
				<div class="row-fluid">
					<!-- block -->
					<div class="block">
						<div class="navbar myTableLable block-header">
							<div class="muted pull-left">地址列表</div>
							<div class="muted pull-right" style="margin-top: 4px !important;padding: 6px; margin-bottom: 4px; border: 1px solid #dddddd; border-radius: 4px;">
								<!--<button class="btn btn-default btn-sm">添加商品</button>-->
								<a href="#" data-toggle="modal" data-target="#addGoodModal">添加地址</a>
							</div>
						</div>
						<div class="block-content collapse in"><!-- collapse in -->
							<!--<div class="span12">-->
								<table class="table table-condensed">
									<thead>
										<tr>
											<th>编号</th>
											<th>地址</th>
											<th>状态</th>
											<th>操作</th>
										</tr>
									</thead>
									<tbody id="addresslist">
										<!-- <tr>
											<td>Tanmay</td>
											<td>Bangalore</td>
											<td>560001</td>
											<td>
												<button class="btn btn-xs btn-warning">编辑</button>
												<button class="btn btn-xs btn-danger">删除</button>
											</td>
										</tr> -->
									</tbody>
								</table>
							<!--</div>-->
							<div class="pull-right">
								<ul class="pagination pagination-sm" id="goodPage">
									<!-- <li><a href="#">&laquo;</a></li>
									<li class="active"><a href="#">1</a></li>
									<li><a href="#">2</a></li>
									<li><a href="#">3</a></li>
									<li><a href="#">4</a></li>
									<li><a href="#">5</a></li>
									<li><a href="#">&raquo;</a></li> -->
								</ul>
							</div>
						</div>
					</div>
					<!-- /block -->
				</div>
			</div>
		</div>
	</div>
	<!-- add Good Modal-->
	<div class="modal video-modal fade" id="addGoodModal" tabindex="-1" role="dialog" aria-labelledby="addGoodModal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</div>
				<section>
					<div class="modal-body">
						<form class="form-horizontal" enctype="multipart/form-data">
							<div class="col-md-12">
								<div class="form-group">
									<label for="goodDes" class="col-sm-3 control-label">地址描述</label>
									<div class="col-sm-9">
										<textarea class="form-control" rows="3" id="goodDes"></textarea>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-offset-3 col-sm-9">
										<button type="button" class="btn btn-success col-sm-12" onclick="addAddress()">添加</button>
									</div>
								</div>
							</div>
							<div class="clearfix"> </div>
						</form>
					</div>
				</section>
			</div>
		</div>
	</div>
	<!-- //add Good Modal-->
	<!-- modify Good Modal-->
	<div class="modal video-modal fade" id="modifyGoodModal" tabindex="-1" role="dialog" aria-labelledby="modifyGoodModal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</div>
				<section>
					<div class="modal-body">
						<form class="form-horizontal">
							<div class="col-md-5"><!--modal_body_left-->
								<img src="images/default.png" alt=" " class="img-responsive" width="200" height="200" style="margin: 0 auto;"/>
								<!--<div style="margin: 0 auto;" class="clearfix">-->
								<img src="images/default.png" alt=" " class="img-responsive pull-left" width="60" height="60" style="margin-left: 40px;margin-right: 8px;"/>
								<img src="images/default.png" alt=" " class="img-responsive pull-left" width="60" height="60" style="margin-right: 8px;"/>
								<img src="images/default.png" alt=" " class="img-responsive pull-left" width="60" height="60" style="margin-right: 8px;"/>
								<img src="images/default.png" alt=" " class="img-responsive pull-left" width="60" height="60" style=""/>
								<button class="btn btn-primary" style="position: relative; left: 133px; bottom: -37px; height:28px;line-height: 16px;">上传图片</button>
								<input type="file" style="position: relative; left: 134px; bottom: -9px;opacity: 0;height:30px;" multiple="multiple">
								<!--</div>-->
							</div>
							<div class="col-md-7 modal_body_right">
								<div class="form-group">
									<label for="goodName1" class="col-sm-3 control-label">商品名称</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" id="goodName1">
									</div>
								</div>
								<div class="form-group">
									<label for="goodType1" class="col-sm-3 control-label">所属品牌</label>
									<div class="col-sm-9">
										<select class="form-control" id="goodType1">
											<option value="1">苹果</option>
											<option value="2">小米</option>
											<option value="3">OPPO</option>
											<option value="4">VIVO</option>
											<option value="5">三星</option>
											<option value="6">其他</option>
										</select>
									</div>
								</div>
								<div class="form-group">
									<label for="goodPrice1" class="col-sm-3 control-label">价格</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" id="goodPrice1">
									</div>
								</div>
								<div class="form-group">
									<label for="goodDegree1" class="col-sm-3 control-label">程度类型</label>
									<div class="col-sm-9">
										<select class="form-control" id="goodDegree1">
											<option>99新</option>
											<option>9成新</option>
											<option>88新</option>
											<option>8成新</option>
											<option>7成新</option>
										</select>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-offset-3 col-sm-9">
										<button type="submit" class="btn btn-success col-sm-12">修改</button>
									</div>
								</div>
							</div>
							<div class="clearfix"> </div>
						</form>
					</div>
				</section>
			</div>
		</div>
	</div>
	<!-- //modify Good Modal-->
	<!-- img Good Modal-->
	<div class="modal video-modal fade" id="imgGoodModal" tabindex="-1" role="dialog" aria-labelledby="imgGoodModal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</div>
				<section>
					<div class="modal-body">
						<div id="myCarousel" class="carousel slide">
							<!-- 轮播（Carousel）指标 -->
							<ol class="carousel-indicators" id="tag" style="margin-bottom:0px !important;">
								 
							</ol>   
							<!-- 轮播（Carousel）项目 -->
							<div class="carousel-inner" id="img-content">
							
							</div>
						
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
	<!-- //img Good Modal-->
	<!-- //about --> 
	<!-- newsletter -->
	<div class="newsletter">
		<div class="container">
			<div class="col-md-6 w3agile_newsletter_left">
				<h3>Electronic Store</h3>
				<p>Your stores. Your place.</p>
			</div>
			<div class="col-md-6 w3agile_newsletter_right">
				<form action="#" method="post">
					<input type="email" name="Email" placeholder="Email" required="">
					<input type="submit" value="" />
				</form>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<!-- //newsletter -->
	<!-- footer -->
	<div class="footer">
		<div class="container">
			<div class="w3_footer_grids">
				<div class="col-md-3 w3_footer_grid">
					<h3>联系方式</h3>
					<ul class="address">
						<li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>红山区 学院路 内蒙古 赤峰市</li>
						<li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="mailto:jyxp1224@163.com">jyxp1224@163.com</a></li>
						<li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>+1234 567 567</li>
					</ul>
				</div>
				<div class="col-md-3 w3_footer_grid">
					<h3>消费者保障</h3>
					<ul class="info">
						<li><a href="ucenter.html">保障范围</a></li>
						<li><a href="mail.html">退货退款流程</a></li>
						<li><a href="codes.html">投诉举报</a></li>
						<li><a href="faq.html">人工服务</a></li>
					</ul>
				</div>
				<div class="col-md-3 w3_footer_grid">
					<h3>新手上路</h3>
					<ul class="info">
						<li><a href="products.html">新手须知</a></li>
						<li><a href="products1.html">消费警示</a></li>
						<li><a href="products.html">交易安全</a></li>
						<li><a href="products1.html">发布流程</a></li>
						<li><a href="products2.html">在线帮助</a></li>
					</ul>
				</div>
				<div class="col-md-3 w3_footer_grid">
					<h4>关注我们</h4>
					<div class="agileits_social_button">
						<ul>
							<li><a href="#" class="facebook"> </a></li>
							<li><a href="#" class="twitter"> </a></li>
							<li><a href="#" class="google"> </a></li>
							<li><a href="#" class="pinterest"> </a></li>
						</ul>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<div class="footer-copy">
			<div class="footer-copy1">
				<div class="footer-copy-pos">
					<a href="#home1" class="scroll"><img src="images/arrow.png" alt=" " class="img-responsive" /></a>
				</div>
			</div>
			<div class="container">
				<p>Copyright &copy; 2018.解忧小铺 All rights reserved.</p>
			</div>
		</div>
	</div>
	<!-- //footer -->  
	<!-- <script src="vendors/jquery-1.9.1.min.js"></script> -->
	<script src="bootstrap/js/bootstrap.min.js"></script>
	<script src="vendors/easypiechart/jquery.easy-pie-chart.js"></script>
	<script src="assets/scripts.js"></script>
	<script src="assets/urlproperties.js"></script>
	<script type="text/javascript" src="../backstage/lib/custom/util.js"></script>
	<script src="js/loginutil.js"></script>
	<script>
	var loginUser;
	var myPageNum = 1;
        $(function() {
            // Easy pie charts
            $('.chart').easyPieChart({animate: 1000});
            $(".scroll").click(function(event){		
    			event.preventDefault();
    			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
    		});
            
            if(Util.getSession('login_user')){
    			loginUser = JSON.parse(Util.getSession("login_user"));
    			$('.w3l_login').empty().html('<div style="height:50px;line-height: 50px;font-size: large;">欢迎您! '+loginUser.uName+'&nbsp;&nbsp;&nbsp;&nbsp;<button class="btn btn-sm btn-info" onclick="loginout()">注销</button></div>');
    			$('.w3l_logo').css('margin-left','15em');
    		}
            getGoodsBrand();
            getAddressList(1);
            
        });
        
        function getGoodsBrand(){
    		$.ajax({
    			type : "get",
    			async : true,
    			url : "../brand/list.action",
    			dataType : "json",
    			data : {},
    			success : function(data) {
    				console.log(data);
    				if (data.status == 'success') {
    					var rows = [];
    					rows = data.data;
    					var html ='';
    					for (var i = 0; i < rows.length; i++) {
    						html += '<div class="col-sm-2"><ul class="multi-column-dropdown">';
    						html += '<h6 onclick="tosearch(\''+rows[i].bId+'\')">'+rows[i].bDescribe+'</h6>';
    						html += '</ul></div>';
    					}
    					html += '<div class="clearfix"></div>';
    					$('#index-brand').empty().html(html);
    				} else {
    					//没有数据或服务器错误
    				}
    			}
    		});
    	}
    	
    	function tosearch(bId){
    		window.location.href = 'search.html?bId='+bId;
    	}
        
        function getAddressList(pageNum){
        	$.ajax({
        		type:"get",
        		async:true,
        		url:"../address/list.action",
        		dataType:"json",
        		data:{
        			pageNum:pageNum
        		},
        		success:function(data){
        			console.log(data);
        			if(data.status == 'success'){
        				myPageNum = data.pageNum;
       					var rows = [];
           				rows = data.data;
        					var html = '';
             				for(var i = 0 ; i < rows.length ; i++){
             					html += '<tr>';
             					html += '<td>'+rows[i].aId+'</td>';
             					html += '<td>'+rows[i].aDescribe+'</td>';
             					if(rows[i].aSign == 1){
             						html += '<td>正常</td>';
             					}else if(rows[i].aSign == 2){
             						html += '<td>默认地址</td>';
             					}
             					html += '<td>';
             					if(rows[i].aSign == 1){
             						html += '<button class="btn btn-xs btn-info" style="margin-right:8px;">设为默认</button>';
             					}
             					html += '<button class="btn btn-xs btn-warning" style="margin-right:8px;">编辑</button>';
             					html += '<button class="btn btn-xs btn-danger">删除</button>';
             					html += '</td>';
             				}
             				$('#addresslist').empty().append(html);
             				
             				var pageHtml = '';
             				if(data.pageTotal > 1){
             					pageHtml += '<li><a href="javascript:getAddressList('+(parseInt(data.pageNum)-1)+')">&laquo;</a></li>';
             					if(myPageNum == 1){
             						pageHtml += '<li class="active"><a href="javascript:getAddressList(1)">1</a></li>';
             					}else{
             						pageHtml += '<li><a href="javascript:getAddressList(1)">1</a></li>';
             					}
             					for(var i = 2 ; i <= data.pageTotal ; i++){
             						if(myPageNum == i){
             							pageHtml += '<li class="active"><a href="javascript:getAddressList('+i+')">'+i+'</a></li>';
             						}else{
             							pageHtml += '<li><a href="javascript:getAddressList('+i+')">'+i+'</a></li>';
             						}
             					}
             					if(myPageNum <= data.pageTotal){
  	           						pageHtml += '<li><a href="javascript:getAddressList('+(parseInt(data.pageNum)+1)+')">&raquo;</a></li>';
             					}else{
             						pageHtml += '<li><a href="#">&raquo;</a></li>';
             					}
             				}else{
             					pageHtml += '<li><a>&laquo;</a></li>';
                 				pageHtml += '<li class="active"><a href="#">1</a></li>';
                 				pageHtml += '<li><a>&raquo;</a></li>';
             				}
             				$('#goodPage').empty().append(pageHtml);
        			}else{
        				//没有数据或服务器错误
        				var htmlempty = '<tr><td colspan="7">暂无地址</td></tr>';
        				$('#addresslist').empty().append(htmlempty);
        			}
        		}
        	});
        }
        function addAddress(){
        	$.ajax({
    			type:"post",
    			async:true,
    			url:"../address/save.action",
    			dataType:"json",
    			data:{
    				aDescribe:$('#goodDes').val(),
    				aUId:loginUser.uId
				},
    			success:function(data){
    				if(data.status == 'success'){
    					$('#goodDes').val('');
    					$('#addGoodModal').modal('hide');
    					getAddressList(1);
    				}else{
    					alert(data.mes);
    				}
    			}
    		});
        }
	</script>
	<!-- //cart-js --> 
</body>
</html>