<!DOCTYPE html>
<html lang="en">
<head>
<title>Mail Us</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
	function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<!-- Custom Theme files -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" /> 
<!-- //Custom Theme files -->
<!-- font-awesome icons -->
<link href="css/font-awesome.css" rel="stylesheet"> 
<!-- //font-awesome icons -->
<!-- js -->
<script src="js/jquery.min.js"></script>
<script type="text/javascript" src="ShoppingCart-master/etao.js"></script>
<link href="ShoppingCart-master/cart.css" media="screen" rel="stylesheet" type="text/css" />
<!-- //js -->  
<!-- web fonts
<link href='http://fonts.googleapis.com/css?family=Glegoo:400,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<!-- //web fonts --> 
<!-- for bootstrap working -->
<script type="text/javascript" src="js/bootstrap-3.1.1.min.js"></script>
<!-- //for bootstrap working -->
<!-- start-smooth-scrolling -->
<script src="../backstage/lib/custom/util.js"></script>
<script src="js/loginutil.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
		if(Util.getSession('login_user')){
			var loginUser = JSON.parse(Util.getSession("login_user"));
			$('.w3l_login').empty().html('<div style="height:50px;line-height: 50px;font-size: large;">欢迎您! '+loginUser.uName+'&nbsp;&nbsp;&nbsp;&nbsp;<button class="btn btn-sm btn-info" onclick="loginout()">注销</button></div>');
			$('.w3l_logo').css('margin-left','15em');
		}
		getGoodsBrand();
		getCartList();
	});
	
	function getGoodsBrand(){
		$.ajax({
			type : "get",
			async : true,
			url : "../brand/list.action",
			dataType : "json",
			data : {},
			success : function(data) {
				console.log(data);
				if (data.status == 'success') {
					var rows = [];
					rows = data.data;
					var html ='';
					for (var i = 0; i < rows.length; i++) {
						html += '<div class="col-sm-2"><ul class="multi-column-dropdown">';
						html += '<h6 onclick="tosearch(\''+rows[i].bId+'\')">'+rows[i].bDescribe+'</h6>';
						html += '</ul></div>';
					}
					html += '<div class="clearfix"></div>';
					$('#index-brand').empty().html(html);
				} else {
					//没有数据或服务器错误
				}
			}
		});
	};
	
	function tosearch(bId){
		window.location.href = 'search.html?bId='+bId;
	};
	
	function getCartList(){
		$.ajax({
			type : "get",
			async : true,
			url : "../cart/list.action",
			dataType : "json",
			data : {},
			success : function(data) {
				console.log(data);
				if (data.status == 'success') {
					var rows = [];
					rows = data.data;
					var html ='';
					for (var i = 0; i < rows.length; i++) {
						html += '<tr id="'+rows[i].cId+'"><td class="goods"><label> <input type="checkbox" class="check-one check" /></label></td>';
						html += '<td style="line-height:23px;padding-top: 1.1rem;font-size: medium;">'+rows[i].cGId.gId+'</td>';
						html += '<td style="line-height:23px;padding-top: 1.1rem;font-size: medium;">'+rows[i].cGId.gName+'</td>';
						html += '<td class="selling-price number small-bold-red text-right" style="padding-top: 1.1rem;line-height:23px;font-size: medium;" data-bind="'+(parseInt(rows[i].cGId.gPrice)*parseInt(rows[i].cNumber))+'">'+(parseInt(rows[i].cGId.gPrice)*parseInt(rows[i].cNumber))+'</td>';
						html += '<td><div class="input-group input-group-sm"><span class="input-group-addon minus">-</span>';
						html += '<input type="text" class="number form-control input-sm" value="'+rows[i].cNumber+'" style="text-align: center;" />';
						html += '<span class="input-group-addon plus">+</span></div></td>';
						html += '<td class="subtotal number small-bold-red text-right" style="padding-top: 1.1rem;line-height:23px;font-size: medium;"></td>';
						html += '<td class="action" style="padding-top: 1.1rem;line-height:23px;font-size: medium;"><span class="delete btn btn-xs btn-danger">删除</span></td>';
						html += '</tr>';
						
					}
					$('#cart-content').empty().html(html);
					for(var j = 0 ; j < rows.length ; j++){
						getSubTotal('#'+rows[j].cId);
					}
					$("#cartTable").find(":checkbox").click(function(){
						//全选框单击
				        if ($(this).hasClass("check-all")) {
				            var checked = $(this).prop("checked");
				            $(cartTable).find(".check-one").prop("checked", checked);
				        }

				        //如果手工一个一个的点选了所有勾选框，需要自动将“全选”勾上或是取消
				        var items = $("#cartTable").find("tr:gt(0)");
				        $("#cartTable").find(".check-all").prop("checked", items.find(":checkbox:checked").length == items.length);
				        //设置结算按钮disabled属性
				        $("#btn_settlement").attr("disabled", items.find(":checkbox:checked").length == 0);

				        getTotal();
					});
					$("#cartTable").find("tr:gt(0)").each(function() {
				        var input = $(this).find(":text");
				        
				        //为数量输入框添加事件，计算金额小计，并更新总计
				        $(input).keyup(function() {
				            var val = parseInt($(this).val());
				            if (isNaN(val) || (val < 1)) { $(this).val("1"); }
				            getSubTotal($(this).parent().parent()); //tr element
				            getTotal();
				        });
				        //为数量调整按钮、删除添加单击事件，计算金额小计，并更新总计
				        $(this).click(function() {
				            var val = parseInt($(input).val());
				            if (isNaN(val) || (val < 1)) { val = 1; }

				            if ($(window.event.srcElement).hasClass("minus")) {
				                if (val > 1) val--;
				                input.val(val);
				                getSubTotal(this);
				            }
				            else if ($(window.event.srcElement).hasClass("plus")) {
				                if (val < 9999) val++;
				                input.val(val);
				                getSubTotal(this);
				            }
				            else if ($(window.event.srcElement).hasClass("delete")) {
				                if (confirm("确定要从购物车中删除此产品？")) {
				                    $(this).remove();
				                    deleteCart($(this).attr('id'));
				                }
				            }
				            getTotal();
				        });
				    });
				} else {
					//没有数据或服务器错误
				}
			}
		});
	};
	
	 /*
     * 计算购物车中产品的累计金额
     */
    function getTotal() {
        var qtyTotal = 0;
        var itemCount = 0;
        var priceTotal = 0;
        $(cartTable).find("tr:gt(0)").each(function() {
            getSubTotal(this);
            if ($(this).find(":checkbox").prop("checked") == true) {
                itemCount++;
                qtyTotal += parseInt($(this).find(":text").val());
                priceTotal += parseFloat($(this).find(".subtotal").data("bind"));
            }
        });
        $("#itemCount").text(itemCount).data("bind", itemCount);
        $("#qtyCount").text(qtyTotal).data("bind", qtyTotal);
        $("#priceTotal").text($.formatMoney(priceTotal, 2)).data("bind", priceTotal.toFixed(2));
    };
	
	/*
     * 计算购物车中每一个产品行的金额小计
     *
     * 参数 row 购物车表格中的行元素tr
     *
     */
    function getSubTotal(row) {
        var price = parseFloat($(row).find(".selling-price").data("bind"));
        var qty = parseInt($(row).find(":text").val());
        var result = price * qty;
        $(row).find(".selling-price").text($.formatMoney(price, 2));
        $(row).find(".subtotal").text($.formatMoney(result, 2)).data("bind", result.toFixed(2));
    };
	
	function deleteCart(id){
		$.ajax({
			type : "get",
			async : false,
			url : "../cart/delete.action",
			dataType : "json",
			data : {
				cId:id
			},
			success : function(data) {
				console.log(data);
				if (data.status == 'success') {
					alert(data.mes);
					//getCartList();
				} else {
					//没有数据或服务器错误
					alert(data.mes);
				}
			}
		});
	};
	
</script>
<!-- //end-smooth-scrolling --> 
</head> 
<body> 
	<!-- header modal -->
	<div class="modal fade" id="myModal88" tabindex="-1" role="dialog" aria-labelledby="myModal88"
		aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
						&times;</button>
					<h4 class="modal-title" id="myModalLabel">不要犹豫，马上注册!</h4>
				</div>
				<div class="modal-body modal-body-sub">
					<div class="row">
						<div class="col-md-8 modal_body_left modal_body_left1" style="border-right: 1px dotted #C2C2C2;padding-right:3em;">
							<div class="sap_tabs">
								<div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
									<ul>
										<li class="resp-tab-item" aria-controls="tab_item-0"><span>登录</span></li>
										<li class="resp-tab-item" aria-controls="tab_item-1"><span>注册</span></li>
									</ul>
									<div class="tab-1 resp-tab-content" aria-labelledby="tab_item-0">
										<div class="facts">
											<div class="register">
												<form>			
													<input name="Email" id="uname" placeholder="用户名" type="text" required="">						
													<input name="Password" placeholder="密码" id="pwd" type="password" required="">										
													<div class="sign-up">
														<input type="button" class="login_btn" value="登录" onclick="tologin()"/>
													</div>
												</form>
											</div>
										</div>
									</div>
									<div class="tab-2 resp-tab-content" aria-labelledby="tab_item-1">
										<div class="facts">
											<div class="register">
												<form action="#" method="post">
													<!--<input placeholder="Name" name="Name" type="text" required="">-->
													<input placeholder="用户名" name="Email" type="email" required="">
													<input placeholder="密码" name="Password" type="password" required="">
													<input placeholder="确认密码" name="Password" type="password" required="">
													<div class="sign-up">
														<input type="submit" value="创建用户"/>
													</div>
												</form>
											</div>
										</div>
									</div>
								</div>
							</div>
							<script src="js/easyResponsiveTabs.js" type="text/javascript"></script>
							<script type="text/javascript">
                                $(document).ready(function () {
                                    $('#horizontalTab').easyResponsiveTabs({
                                        type: 'default', //Types: default, vertical, accordion
                                        width: 'auto', //auto or any width like 600px
                                        fit: true   // 100% fit in a container
                                    });
                                });
							</script>
							<div id="OR" class="hidden-xs">OR</div>
						</div>
						<div class="col-md-4 modal_body_right modal_body_right1">
							<div class="row text-center sign-with">
								<div class="col-md-12" style="margin:auto auto auto 5px;">
									<div class="jumbotron">
										<h3>欢迎!</h3>
										<p>点击下方按钮进入系统后台。</p>
										<p><a class="btn btn-primary btn-lg" href="#" role="button">后台登录</a></p>
									</div>
								</div>
								<!--<div class="col-md-12">
									<h3 class="other-nw">前往后台</h3>
								</div>
								<div class="col-md-12 text-hide">
									<ul class="social">
										<li class="social_facebook"><a href="#" class="entypo-facebook"></a></li>
										<li class="social_dribbble"><a href="#" class="entypo-dribbble"></a></li>
										<li class="social_twitter"><a href="#" class="entypo-twitter"></a></li>
										<li class="social_behance"><a href="#" class="entypo-behance"></a></li>
									</ul>
								</div>
								<button type="button" class="btn btn-primary">后台登录</button>-->

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> 
	<!-- header modal -->
	<!-- header -->
	<div class="header" id="home1">
		<div class="container">
			<div class="w3l_login">
				<a href="#" data-toggle="modal" data-target="#myModal88"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></a>
			</div>
			<div class="w3l_logo">
				<h1><a href="index.html">Electronic Store<span>Your stores. Your place.</span></a></h1>
			</div>
			<div class="search">
				<input class="search_box" type="checkbox" id="search_box">
				<label class="icon-search" for="search_box"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></label>
				<div class="search_form">
					<form action="#" method="post">
						<input type="text" name="Search" placeholder="Search...">
						<input type="submit" value="Send">
					</form>
				</div>
			</div>
			<!--<div class="cart cart box_1">
				<form action="#" method="post" class="last">
					<input type="hidden" name="cmd" value="_cart" />
					<input type="hidden" name="display" value="1" />
					<button class="w3view-cart" type="submit" name="submit" value=""><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></button>
				</form>
			</div>-->
		</div>
	</div>
	<!-- //header -->
	<!-- navigation -->
	<div class="navigation">
		<div class="container">
			<nav class="navbar navbar-default">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header nav_2">
					<button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
					<ul class="nav navbar-nav">
						<li style="visibility:hidden;"><a href="mail.html">联系我们</a></li>
						<li><a href="index.html">首页</a></li>
						<!-- Mega Menu -->
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">所有分类 <b class="caret"></b></a>
							<ul class="dropdown-menu multi-column columns-3">
								<div class="row" id="index-brand">
								</div>
							</ul>
						</li>
						<li><a href="ucenter.html">个人中心</a></li>
						<li><a href="mail.html">联系我们</a></li>
						<li style="visibility:hidden;"><a href="mail.html">联系我们</a></li>
					</ul>
				</div>
			</nav>
		</div>
	</div>
	<!-- //navigation -->
	<!-- banner -->
	<div class="banner banner10">
		<div class="container">
			<h2>Shopping Cart</h2>
		</div>
	</div>
	<!-- //banner -->    
	<!-- breadcrumbs -->
	<div class="breadcrumb_dress">
		<div class="container">
			<ul>
				<li><a href="index.html"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> 首页</a> <i>/</i></li>
				<li>购物车</li>
			</ul>
		</div>
	</div>
	<!-- //breadcrumbs --> 
	<!-- mail -->
	<div class="mail">
		<div class="container">
			
		</div>··
	</div>
	<!-- //mail -->
<!-- newsletter -->
	<div class="newsletter">
		<div class="container">
			<div class="col-md-6 w3agile_newsletter_left">
				<h3>Electronic Store</h3>
				<p>Your stores. Your place.</p>
			</div>
			<div class="col-md-6 w3agile_newsletter_right">
				<form action="#" method="post">
					<input type="email" name="Email" placeholder="Email" required="">
					<input type="submit" value="" />
				</form>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<!-- //newsletter -->
	<!-- footer -->
	<div class="footer">
		<div class="container">
			<div class="w3_footer_grids">
				<div class="col-md-3 w3_footer_grid">
					<h3>联系方式</h3>
					<ul class="address">
						<li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>红山区 学院路 内蒙古 赤峰市</li>
						<li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="mailto:jyxp1224@163.com">jyxp1224@163.com</a></li>
						<li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>+1234 567 567</li>
					</ul>
				</div>
				<div class="col-md-3 w3_footer_grid">
					<h3>消费者保障</h3>
					<ul class="info">
						<li><a href="ucenter.html">保障范围</a></li>
						<li><a href="mail.html">退货退款流程</a></li>
						<li><a href="codes.html">投诉举报</a></li>
						<li><a href="faq.html">人工服务</a></li>
					</ul>
				</div>
				<div class="col-md-3 w3_footer_grid">
					<h3>新手上路</h3>
					<ul class="info">
						<li><a href="products.html">新手须知</a></li>
						<li><a href="products1.html">消费警示</a></li>
						<li><a href="products.html">交易安全</a></li>
						<li><a href="products1.html">发布流程</a></li>
						<li><a href="products2.html">在线帮助</a></li>
					</ul>
				</div>
				<div class="col-md-3 w3_footer_grid">
					<h4>关注我们</h4>
					<div class="agileits_social_button">
						<ul>
							<li><a href="#" class="facebook"> </a></li>
							<li><a href="#" class="twitter"> </a></li>
							<li><a href="#" class="google"> </a></li>
							<li><a href="#" class="pinterest"> </a></li>
						</ul>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<div class="footer-copy">
			<div class="footer-copy1">
				<div class="footer-copy-pos">
					<a href="#home1" class="scroll"><img src="images/arrow.png" alt=" " class="img-responsive" /></a>
				</div>
			</div>
			<div class="container">
				<p>Copyright &copy; 2018.解忧小铺 All rights reserved.</p>
			</div>
		</div>
	</div>
	<!-- //footer -->  
	<!-- cart-js -->
	<script src="js/minicart.js"></script>
	<script>
        w3ls.render();

        w3ls.cart.on('w3sb_checkout', function (evt) {
        	var items, len, i;

        	if (this.subtotal() > 0) {
        		items = this.items();

        		for (i = 0, len = items.length; i < len; i++) { 
        		}
        	}
        });
    </script>  
	<!-- //cart-js --> 
</body>
</html>