<!DOCTYPE html>
<html lang="en">
<head>
<title>Home</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
	function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<!-- Custom Theme files -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/fasthover.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
<!-- //Custom Theme files -->
<!-- font-awesome icons -->
<link href="css/font-awesome.css" rel="stylesheet"> 
<!-- //font-awesome icons -->
<!-- js -->
<script src="js/jquery.min.js"></script>
<link rel="stylesheet" href="css/jquery.countdown.css" /> <!-- countdown --> 
<!-- //js -->  
<!-- web fonts 
<link href='http://fonts.googleapis.com/css?family=Glegoo:400,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<!-- //web fonts -->  
<!-- start-smooth-scrolling -->
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
        /* $(window).scroll(function(){
            var viewH = $(this).height();//可见高度
            var contentH = $('.new-products .container').get(0).scrollHeight;//内容高度
            var scrollTop = $(this).scrollTop();//滚动高度
            //if(contentH - viewH - scrollTop <= 100) { //到达底部100px时,加载新内容
            if (scrollTop / (contentH - viewH) >= 2.5) { //到达底部5%以内,加载新内容
                // 这里加载数据..
                if($('.new-products .container').find('#loadLable').length <= 0){
                    $('.new-products').find('.container').append('<label class="text-center col-sm-12" id="loadLable">加载中...</label>');
                }else{

                }
            }else{
                $('#loadLable').remove();
			}
        }); */
        $('#horizontalTab').easyResponsiveTabs({
			type: 'default', //Types: default, vertical, accordion           
			width: 'auto', //auto or any width like 600px
			fit: true   // 100% fit in a container
		});
		$("#username").blur(function(){
			$.ajax({
				type:"post",
				async:true,
				url:"../login/checkName.action",
				dataType:"json",
				data:{
					aaa:$("#username").val(),
				},
				success:function(data){
	    			if(data.status == 'success'){
	    				$("#message").removeClass("label-danger").addClass("label-success").text(data.mes).show();
	    			}else{
	    				//没有数据或服务器错误
	    				$("#message").removeClass("label-success").addClass("label-danger").text(data.mes).show();
	    			}
	    		}
			});
		});
		if(Util.getSession('login_user')){
			var loginUser = JSON.parse(Util.getSession("login_user"));
			$('.w3l_login').empty().html('<div style="height:50px;line-height: 50px;font-size: large;">欢迎您! '+loginUser.uName+'&nbsp;&nbsp;&nbsp;&nbsp;<button class="btn btn-sm btn-info" onclick="loginout()">注销</button></div>');
			$('.w3l_logo').css('margin-left','15em');
		}
//        scrollBottomTest =function() {
//            $("#contain").scroll(function () {
//                var viewH = $(this).height();//可见高度
//                var contentH = $(this).get(0).scrollHeight;//内容高度
//                var scrollTop = $(this).scrollTop();//滚动高度
//                //if(contentH - viewH - scrollTop <= 100) { //到达底部100px时,加载新内容
//                if (scrollTop / (contentH - viewH) >= 0.85) { //到达底部5%以内,加载新内容
//                    // 这里加载数据..
//					if($('.new-products .container').find('#loadLable').length <= 0){
//                        $('.new-products').find('.container').append('<label class="text-center col-sm-12" id="loadLable">加载中...</label>');
//					}else{
//
//					}
//                }
//            });
//        };
//        scrollBottomTest();
		getGoodsBrand();
		getAppleContent('402881ed61f083c80161f08ae6850002','apple');
		getAppleContent('402881ed61f083c80161f08c07570003','xiaomi');
		getAppleContent('402881ed61f08ca00161f08d22c30000','oppo');
		getAppleContent('402881ed61f09b060161f09c13920000','vivo');
		getAppleContent('402881ed61f09b060161f09c3c390001','sanxin');
		getAppleContent('402881ed61f09b060161f09c55a00002','other');
		getIndexGoods(1);
	});
	
	function getGoodsBrand(){
		$.ajax({
			type : "get",
			async : false,
			url : "../brand/list.action",
			dataType : "json",
			data : {},
			success : function(data) {
				console.log(data);
				if (data.status == 'success') {
					var rows = [];
					rows = data.data;
					var html ='';
					for (var i = 0; i < rows.length; i++) {
						html += '<div class="col-sm-2"><ul class="multi-column-dropdown">';
						html += '<h6 onclick="tosearch(\''+rows[i].bId+'\')">'+rows[i].bDescribe+'</h6>';
						html += '</ul></div>';
					}
					html += '<div class="clearfix"></div>';
					$('#index-brand').empty().html(html);
				} else {
					//没有数据或服务器错误
				}
			}
		});
	}
	
	function tosearch(bId){
		window.location.href = 'search.html?bId='+bId;
	}
	
	function getAppleContent(bId,type){
		var conds = {
			gBId:bId
		}
		$.ajax({
			type : "get",
			async : false,
			url : "../goods/listByConds.action",
			dataType : "json",
			data : {
				conds:JSON.stringify(conds)
			},
			success : function(data) {
				if (data.status == 'success') {
					console.log(data);					
					var rows = [];
					rows = data.data;
					var html ='';
					var forlength = 0;
					if(rows.length >= 3){
						forlength = 3;
					}else{
						forlength = rows.length;
					}
					for (var i = 0; i < forlength; i++) {
						html += '<div class="col-md-4 agile_ecommerce_tab_left"><div class="hs-wrapper">';
						for(var img = 0 ; img < data.picList[i].length ; img++){
							html += '<img src="'+data.picList[i][img].pUrl+'" alt=" " class="img-responsive" style="width:255px;height:340px;"/>';
						}
						html += '<div class="w3_hs_bottom"><ul><li><a href="javascript:showDetail(\''+rows[i].gId+'\');"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a></li></ul></div>';
						html += '</div>';
						html += '<h5><a href="single.html?gId='+rows[i].gId+'">'+rows[i].gName+'</a></h5>';
						html += '<div class="simpleCart_shelfItem">';
						html += '<p><span>'+rows[i].gDeId.deDescribe+'</span> <i class="item_price">￥'+rows[i].gPrice+'</i></p>';
						html += '<form action="#" method="post">';
						html += '<input type="hidden" name="good_id_'+rows[i].gId+'" value="'+rows[i].gId+'">';
						html += '<input type="hidden" name="good_num_'+rows[i].gId+'" value="1">';
						html += '<input type="hidden" name="user_id_'+rows[i].gId+'" value="'+rows[i].gPrice+'">';
						html += '<input type="hidden" name="w3ls_item_'+rows[i].gId+'" value="'+rows[i].gName+'">';
						html += '<input type="hidden" name="good_total_'+rows[i].gId+'" value="'+rows[i].gPrice+'">';
						html += '<button type="button" class="w3ls-cart" onclick="saveToCart(\''+rows[i].gId+'\')">加入购物车</button>';
						html += '</form></div></div>';
						
					}
					html += '<div class="clearfix"></div>';
					$('#'+type+'-content').empty().html(html);
				} else {
					//没有数据或服务器错误
					$('#'+type+'-content').empty().html('<label>暂无商品!</label>');
				}
			}
		});
	}
	function getIndexGoods(pageNum){
		$.ajax({
			type:"get",
			async:true,
			url:"../goods/list.action",
			dataType:"json",
			data:{
				pageNum:pageNum
			},
			success:function(data){
				console.log(data);
				if(data.status == 'success'){
					var rows = [];
	   				rows = data.data;
	   				var html = '';
	   				var flag = 0;
	   				for(var i = 0 ; i < rows.length ; i++){
	   					if(i%4 == 0){
	   						html += '<div class="agileinfo_new_products_grids">';
	   						flag = i;
	   					}
	   					html += '<div class="col-md-3 agileinfo_new_products_grid">';
						html += '<div class="agile_ecommerce_tab_left agileinfo_new_products_grid1">';
						html += '<div class="hs-wrapper hs-wrapper1">';
						for(var img = 0 ; img < data.picList[i].length ; img++){
							html += '<img src="'+data.picList[i][img].pUrl+'" alt=" " class="img-responsive" style="width:255px;height:340px;"/>';
						}
						html += '<div class="w3_hs_bottom w3_hs_bottom_sub">';
						html += '<ul><li><a href="javascript:showDetail(\''+rows[i].gId+'\');"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a></li></ul></div></div>';
						html += '<h5><a href="single.html?gId='+rows[i].gId+'">'+rows[i].gName+'</a></h5>';
						html += '<div class="simpleCart_shelfItem">';
						html += '<p><span>'+rows[i].gDeId.deDescribe+'</span> <i class="item_price">￥'+rows[i].gPrice+'</i></p>';
						html += '<form action="#" method="post">';
						html += '<input type="hidden" name="good_id_'+rows[i].gId+'" value="'+rows[i].gId+'">';
						html += '<input type="hidden" name="good_num_'+rows[i].gId+'" value="1">';
						html += '<input type="hidden" name="user_id_'+rows[i].gId+'" value="'+rows[i].gPrice+'">';
						html += '<input type="hidden" name="w3ls_item_'+rows[i].gId+'" value="'+rows[i].gName+'">';
						html += '<input type="hidden" name="good_total_'+rows[i].gId+'" value="'+rows[i].gPrice+'">';
						html += '<button type="button" class="w3ls-cart" onclick="saveToCart(\''+rows[i].gId+'\')">加入购物车</button>';
						html += '</form></div></div></div>';
						if((flag+3) == i){
	   						html += '</div><div class="clearfix"></div>';
	   						flag = 0;
	   					}
					}
					$('#goodsContent').empty().html(html);
	   				
	   				/* var pageHtml = '';
	   				if(data.pageTotal > 1){
	   					pageHtml += '<li><a href="javascript:getGoodsList('+(parseInt(data.pageNum)-1)+')">&laquo;</a></li>';
	       				pageHtml += '<li class="active"><a href="#">1</a></li>';
	   					for(var i = 2 ; i <= data.pageTotal ; i++){
	   						pageHtml += '<li><a href="javascript:getGoodsList('+i+')">'+i+'</a></li>';
	   					}
	   					if(pageNum <= pageTotal){
	       					pageHtml += '<li><a href="javascript:getGoodsList('+(parseInt(data.pageNum)+1)+')">&raquo;</a></li>';
	   					}else{
	   						pageHtml += '<li><a href="#">&raquo;</a></li>';
	   					}
	   				}else{
	   					pageHtml += '<li><a>&laquo;</a></li>';
	       				pageHtml += '<li class="active"><a href="#">1</a></li>';
	       				pageHtml += '<li><a>&raquo;</a></li>';
	   				}
	   				$('#goodPage').empty().append(pageHtml); */
				}else{
					//没有数据或服务器错误
					$('#goodsContent').empty().html('<label>暂无商品!</label>');
				}
			}
		});
	}
	
	function showDetail(id){
		$.ajax({
			type : "get",
			async : false,
			url : "../goods/getById.action",
			dataType : "json",
			data : {
				gId:id
			},
			success : function(data) {
				console.log(data);
				if (data.status == 'success') {
					$('#good-modal-img').empty().html('<img src="'+data.pic[0].pUrl+'" alt=" " class="img-responsive" style="width:255px;height:340px;"/>');
					var html = '';
					html += '<h4>'+data.good.gName+'</h4>';
					html += '<p style="width:80%;word-wrap:break-word;">'+data.good.gDescribe+'</p>';
					html += '<p>卖家ID: <span>'+data.good.gUId.uName+'</span></p>';
					html += '<p>联系方式: <span>'+data.good.gUId.uPhone+'</span></p>';
					html += '<div class="modal_body_right_cart simpleCart_shelfItem">';
					html += '<p><span>'+data.good.gDeId.deDescribe+'</span> <i class="item_price">￥'+data.good.gPrice+'</i></p>';
					html += '<form action="#" method="post">';
					html += '<input type="hidden" name="good_id_'+data.good.gId+'" value="'+data.good.gId+'">';
					html += '<input type="hidden" name="good_num_'+data.good.gId+'" value="1">';
					html += '<input type="hidden" name="user_id_'+data.good.gId+'" value="'+data.good.gPrice+'">';
					html += '<input type="hidden" name="w3ls_item_'+data.good.gId+'" value="'+data.good.gName+'">';
					html += '<input type="hidden" name="good_total_'+data.good.gId+'" value="'+data.good.gPrice+'">';
					html += '<button type="button" class="w3ls-cart" onclick="saveToCart(\''+data.good.gId+'\')">加入购物车</button>';
					html += '</form></div>';
					$('#good-modal-content').empty().html(html);
					$('#myModal').modal('show');
				} else {
					//没有数据或服务器错误
				}
			}
		});
	}
	
	function saveToCart(id){
		var loginUser = JSON.parse(Util.getSession("login_user"));
		if(loginUser){
			console.log(id);			
			$.ajax({
				type : "post",
				async : true,
				url : "../cart/save.action",
				dataType : "json",
				data : {
					good_id:id,
					user_id:loginUser.uId,
					good_total:$('input[name="good_total_'+id+'"]').val(),
					good_num:$('input[name="good_num_'+id+'"]').val()
				},
				success : function(data) {
					console.log(data);
					if (data.status == 'success') {
						alert(data.mes);
					} else {
						//没有数据或服务器错误
						alert(data.mes);
					}
				}
			});
		}else{
			alert('请先登录！');
		}
	}
	
	function toCart(){
		var loginUser = JSON.parse(Util.getSession("login_user"));
		if(loginUser){
			window.location.href = 'cart.html?uId='+loginUser.uId;
		}else{
			alert('请先登录！');
		}
	}
	
</script>
<!-- //end-smooth-scrolling --> 
</head> 
<body>
	<!-- for bootstrap working -->
	<script type="text/javascript" src="js/bootstrap-3.1.1.min.js"></script>
	<script src="js/easyResponsiveTabs.js" type="text/javascript"></script>
	<!-- //for bootstrap working -->
	<!-- header modal -->
	<div class="modal fade" id="myModal88" tabindex="-1" role="dialog" aria-labelledby="myModal88"
		aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
						&times;</button>
					<h4 class="modal-title" id="myModalLabel">不要犹豫，马上进入!</h4>
				</div>
				<div class="modal-body modal-body-sub">
					<div class="row">
						<div class="col-md-8 modal_body_left modal_body_left1" style="border-right: 1px dotted #C2C2C2;padding-right:3em;">
							<div class="sap_tabs">	
								<div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
									<ul>
										<li class="resp-tab-item" aria-controls="tab_item-0"><span>登录</span></li>
										<li class="resp-tab-item" aria-controls="tab_item-1"><span>注册</span></li>
									</ul>		
									<div class="tab-1 resp-tab-content" aria-labelledby="tab_item-0">
										<div class="facts">
											<div class="register">
												<form>			
													<input name="Email" id="uname" placeholder="用户名" type="text" required="">						
													<input name="Password" placeholder="密码" id="pwd" type="password" required="">										
													<div class="sign-up">
														<input type="button" class="login_btn" value="登录" onclick="tologin()"/>
													</div>
												</form>
											</div>
										</div> 
									</div>	 
									<div class="tab-2 resp-tab-content" aria-labelledby="tab_item-1">
										<div class="facts">
											<div class="register">
												<form id="regForm" onsubmit="return verification()" method="post">			
													<!--<input placeholder="Name" name="Name" type="text" required="">-->
													<input placeholder="用户名" id="username" name="username" type="text" required="">
													<span id="message" class="label label-success" style="display: none;"></span>
													<input placeholder="密码" id="password" name="password" type="password" required="">	
													<input placeholder="确认密码" id="confirmPwd" name="confirmPwd" type="password" required="">
													<div class="sign-up">
														<input type="submit" value="创建用户"/>
													</div>
												</form>
											</div>
										</div>
									</div> 			        					            	      
								</div>	
							</div>
							<script type="text/javascript">
								function verification() {  
					                if($('#username').val() == '') {  
					                    alert('姓名不能为空!');  
					                    return false;  
					                }  
					                if($('#password').val() == '') {  
					                    alert('密码不能为空!');  
					                    return false;  
					                }
					                if($('#confirmPwd').val() == '') {  
					                    alert('请再次输入密码!');  
					                    return false;  
					                }
					                if($('#confirmPwd').val() != '' && $('#password').val() != '') {
					                	if($('#confirmPwd').val() != $('#password').val()){
					                		alert('两次密码不一致!');  
						                    return false;
					                	}else{
					                		$.ajax({  
							                    url: "../user/save.action",  
							                    type: 'post',  
							                    dataType: 'json',  
							                    data: {  
							                        'username': $('#username').val(),  
							                        'password': $('#password').val(),  
							                    },  
							                    success: function(data) {  
							                        alert("提交成功，" + data.info);  
							                    },  
							                    error: function(XMLHttpRequest, textStatus, errorThrown) {  
							                        alert("发生错误，" + textStatus);  
							                    }  
							                });  
							                return true;  
					                	}
					                }
					            }  
							</script>
							<div id="OR" class="hidden-xs">OR</div>
						</div>
						<div class="col-md-4 modal_body_right modal_body_right1">
							<div class="row text-center sign-with">
								<div class="col-md-12" style="margin:auto auto auto 5px;">
									<div class="jumbotron">
									  <h3>欢迎!</h3>
									  <p>点击下方按钮进入系统后台。</p>
									  <p><a class="btn btn-primary btn-lg" href="../backstage/login.html" role="button">后台登录</a></p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--<script>
		//$('#myModal88').modal('show');
	</script>  -->
	<!-- header modal -->
	<!-- header -->
	<div class="header" id="home1">
		<div class="container">
			<div class="w3l_login">
				<a href="#" data-toggle="modal" data-target="#myModal88"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></a>
			</div>
			<div class="w3l_logo">
				<h1><a href="index.html">Electronic Store<span>Your stores. Your place.</span></a></h1>
			</div>
			<div class="search">
				<input class="search_box" type="checkbox" id="search_box">
				<label class="icon-search" for="search_box"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></label>
				<div class="search_form">
					<form action="#" method="post">
						<input type="text" name="Search" placeholder="Search...">
						<input type="submit" value="Send">
					</form>
				</div>
			</div>
			<div class="cart cart box_1"> 
				<form action="#" method="post" class="last"> 
					<input type="hidden" name="cmd" value="_cart" />
					<input type="hidden" name="display" value="1" />
					<button class="w3view-cart" type="button" name="button" value="" onclick="toCart()"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></button>
				</form>   
			</div>  
		</div>
	</div>
	<!-- //header -->
	<!-- navigation -->
	<div class="navigation">
		<div class="container">
			<nav class="navbar navbar-default">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header nav_2">
					<button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div> 
				<div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
					<ul class="nav navbar-nav">
						<li style="visibility:hidden;"><a href="mail.html">联系我们</a></li>					
						<li><a href="index.html" class="act">首页</a></li>	
						<!-- Mega Menu -->
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">所有分类 <b class="caret"></b></a>
							<ul class="dropdown-menu multi-column columns-3">
								<div class="row" id="index-brand">
									
								</div>
							</ul>
						</li>
						<li><a href="ucenter.html">个人中心</a></li>
						<li><a href="mail.html">联系我们</a></li>
						<li style="visibility:hidden;"><a href="mail.html">联系我们</a></li>
					</ul>
				</div>
			</nav>
		</div>
	</div>
	<!-- //navigation -->
	<!-- banner -->
	<div class="banner">
		<div class="container">
			<h3>Electronic Store, <span>Special Offers</span></h3>
		</div>
	</div>
	<!-- //banner --> 
	<!-- banner-bottom -->
	<div class="banner-bottom">
		<div class="container">
			<div class="col-md-5 wthree_banner_bottom_left">
				<div class="video-img">
					<a class="play-icon popup-with-zoom-anim" href="#small-dialog">
						<span class="glyphicon glyphicon-expand" aria-hidden="true"></span>
					</a>
				</div> 
					<!-- pop-up-box -->     
					<script src="js/jquery.magnific-popup.js" type="text/javascript"></script>
					<!--//pop-up-box -->
					<div id="small-dialog" class="mfp-hide">
						<video src="assets/video.mp4" controls="controls" width="500" height="400">
							您的浏览器不支持 video 标签。
						</video>
					</div>
					<script>
						$(document).ready(function() {
						$('.popup-with-zoom-anim').magnificPopup({
							type: 'inline',
							fixedContentPos: false,
							fixedBgPos: true,
							overflowY: 'auto',
							closeBtnInside: true,
							preloader: false,
							midClick: true,
							removalDelay: 300,
							mainClass: 'my-mfp-zoom-in'
						});
																						
						});
					</script>
			</div>
			<div class="col-md-7 wthree_banner_bottom_right">
				<div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
					<ul id="myTab" class="nav nav-tabs" role="tablist">
						<li role="presentation" class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home">苹果</a></li>
						<li role="presentation"><a href="#audio" role="tab" id="audio-tab" data-toggle="tab" aria-controls="audio">三星</a></li>
						<li role="presentation"><a href="#video" role="tab" id="video-tab" data-toggle="tab" aria-controls="video">Oppo</a></li>
						<li role="presentation"><a href="#tv" role="tab" id="tv-tab" data-toggle="tab" aria-controls="tv">Vivo</a></li>
						<li role="presentation"><a href="#kitchen" role="tab" id="kitchen-tab" data-toggle="tab" aria-controls="kitchen">小米</a></li>
						<li role="presentation"><a href="#other" role="tab" id="other-tab" data-toggle="tab" aria-controls="other">其他</a></li>
					</ul>
					<div id="myTabContent" class="tab-content">
						<div role="tabpanel" class="tab-pane fade active in" id="home" aria-labelledby="home-tab">
							<div class="agile_ecommerce_tabs" id="apple-content">
							</div>
						</div>
						<div role="tabpanel" class="tab-pane fade" id="audio" aria-labelledby="audio-tab">
							<div class="agile_ecommerce_tabs" id="sanxin-content">
							</div>
						</div>
						<div role="tabpanel" class="tab-pane fade" id="video" aria-labelledby="video-tab">
							<div class="agile_ecommerce_tabs" id="oppo-content">
							</div>
						</div>
						<div role="tabpanel" class="tab-pane fade" id="tv" aria-labelledby="tv-tab">
							<div class="agile_ecommerce_tabs" id="vivo-content">
							</div>
						</div>
						<div role="tabpanel" class="tab-pane fade" id="kitchen" aria-labelledby="kitchen-tab">
							<div class="agile_ecommerce_tabs" id="xiaomi-content">
							</div>
						</div>
						<div role="tabpanel" class="tab-pane fade" id="other" aria-labelledby="other-tab">
							<div class="agile_ecommerce_tabs" id="other-content">
							</div>
						</div>
					</div>
				</div> 
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<!-- //banner-bottom --> 
	<!-- modal-video -->
	<div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>						
				</div>
				<section>
					<div class="modal-body">
						<div class="col-md-5 modal_body_left" id="good-modal-img">
							
						</div>
						<div class="col-md-7 modal_body_right" id="good-modal-content">
							
						</div>
						<div class="clearfix"> </div>
					</div>
				</section>
			</div>
		</div>
	</div>
	<div class="new-products">
		<div class="container" id="goodsContent">
			<h3>新鲜发布</h3>
		</div>
	</div>
	<!-- //new-products -->
	<!-- top-brands -->
	<div class="top-brands">
		<div class="container">
			<h3>畅销品牌</h3>
			<div class="sliderfig">
				<ul id="flexiselDemo1">			
					<li>
						<img src="images/tb1.jpg" alt=" " class="img-responsive" />
					</li>
					<li>
						<img src="images/tb2.jpg" alt=" " class="img-responsive" />
					</li>
					<li>
						<img src="images/tb3.jpg" alt=" " class="img-responsive" />
					</li>
					<li>
						<img src="images/tb4.jpg" alt=" " class="img-responsive" />
					</li>
					<li>
						<img src="images/tb5.jpg" alt=" " class="img-responsive" />
					</li>
				</ul>
			</div>
			<script type="text/javascript">
					$(window).load(function() {
						$("#flexiselDemo1").flexisel({
							visibleItems: 4,
							animationSpeed: 1000,
							autoPlay: true,
							autoPlaySpeed: 3000,    		
							pauseOnHover: true,
							enableResponsiveBreakpoints: true,
							responsiveBreakpoints: { 
								portrait: { 
									changePoint:480,
									visibleItems: 1
								}, 
								landscape: { 
									changePoint:640,
									visibleItems:2
								},
								tablet: { 
									changePoint:768,
									visibleItems: 3
								}
							}
						});
						
					});
			</script>
			<script type="text/javascript" src="js/jquery.flexisel.js"></script>
		</div>
	</div>
	<!-- //top-brands --> 
	<!-- newsletter -->
	<div class="newsletter">
		<div class="container">
			<div class="col-md-6 w3agile_newsletter_left">
				<h3>Electronic Store</h3>
				<p>Your stores. Your place.</p>
			</div>
			<div class="col-md-6 w3agile_newsletter_right">
				<form action="#" method="post">
					<input type="email" name="Email" placeholder="Email" required="">
					<input type="submit" value="" />
				</form>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<!-- //newsletter -->
	<!-- footer -->
	<div class="footer">
		<div class="container">
			<div class="w3_footer_grids">
				<div class="col-md-3 w3_footer_grid">
					<h3>联系方式</h3>
					<ul class="address">
						<li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>红山区 学院路 内蒙古 赤峰市</li>
						<li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="mailto:jyxp1224@163.com">jyxp1224@163.com</a></li>
						<li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>+1234 567 567</li>
					</ul>
				</div>
				<div class="col-md-3 w3_footer_grid">
					<h3>消费者保障</h3>
					<ul class="info"> 
						<li><a href="ucenter.html">保障范围</a></li>
						<li><a href="mail.html">退货退款流程</a></li>
						<li><a href="codes.html">投诉举报</a></li>
						<li><a href="faq.html">人工服务</a></li>
					</ul>
				</div>
				<div class="col-md-3 w3_footer_grid">
					<h3>新手上路</h3>
					<ul class="info"> 
						<li><a href="products.html">新手须知</a></li>
						<li><a href="products1.html">消费警示</a></li>
						<li><a href="products.html">交易安全</a></li>
						<li><a href="products1.html">发布流程</a></li>
						<li><a href="products2.html">在线帮助</a></li>
					</ul>
				</div>
				<div class="col-md-3 w3_footer_grid">
					<h4>关注我们</h4>
					<div class="agileits_social_button">
						<ul>
							<li><a href="#" class="facebook"> </a></li>
							<li><a href="#" class="twitter"> </a></li>
							<li><a href="#" class="google"> </a></li>
							<li><a href="#" class="pinterest"> </a></li>
						</ul>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<div class="footer-copy">
			<div class="footer-copy1">
				<div class="footer-copy-pos">
					<a href="#home1" class="scroll"><img src="images/arrow.png" alt=" " class="img-responsive" /></a>
				</div>
			</div>
			<div class="container">
				<p>Copyright &copy; 2018.解忧小铺 All rights reserved.</p>
			</div>
		</div>
	</div>
	<!-- //footer --> 
	<!-- cart-js -->
	<script src="js/minicart.js"></script>
	<script type="text/javascript" src="../backstage/lib/custom/util.js"></script>
	<script src="js/loginutil.js"></script>
	<script>
        w3ls.render();

        w3ls.cart.on('w3sb_checkout', function (evt) {
        	var items, len, i;
			alert('submit');
        	if (this.subtotal() > 0) {
        		items = this.items();

        		for (i = 0, len = items.length; i < len; i++) { 
        		}
        	}
        });
    </script>  
	<!-- //cart-js -->   
</body>
</html>